@import './colors.css';
@import './sizeConstants.css';

.title-info-container{
    position: absolute;
    height: 250px;
    width: 260px;
    top: 0;
    z-index: 2;
    padding: 1em;
    font-weight: 500;
    overflow: hidden;
}

.title-info{
    max-height: 200px;
    width: 220px;
    background-color: var(--grey-blue);
    border: 3px solid var(--primary);
    border-radius: 20px;
    margin: 20px auto;
    padding: 1em;
    text-align: left;
    & .title{
        font-weight: bold;
        text-align: center;
    }   

    & .year-director{
        text-align: center;
    }
    @media (--small-viewport){
        width: 80%;
        height: 80%;
    }
}

.open{
    display: block;
}

.closed{
    display: none;
}

.left{
    right:10%;
}
.right{
    left:10%;
}

/**the close option will only exist for mobile**/

.close-info{

    display: block;
    background: var(--almost-white);
    width: 15px;
    height: 15px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    border: 2px solid var(--dark-grey);
    position: absolute;
    top: 30px;
    right: 10px;
    &:hover{
        background-color:var(--primary);
    }

}
.close-x {
    stroke: var(--dark-grey);
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
}


.center{
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 0;
    top: 0;
    left: 0;
    & .title-info{
        max-height:100%;
        height: calc(100%-5em);
        width: calc(100%-2em);
        padding: 2.5em 1em;
        border: none;
        border-radius: 0;
        top: 0;
        left: 0;
        margin: 0;

    }
    & .close-info{
        display: block;
        background: var(--almost-white);
        width: 15px;
        height: 15px;
        margin: auto;
        text-align: center;
        vertical-align: middle;
        border-radius: 15px;
        border: 2px solid var(--dark-grey);
        position: absolute;
        top: 20px;
        right: 10px;
        &:hover{
            background-color:var(--primary);
        }
    }


}

.info-loading-message {
    position: absolute;
    top: 50%;
    margin-top: -25%;
    left: 50%;
    margin-left: -25%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--almost-white);
    padding: 1em;
    width: 100px;
    border-radius: 10px;
}