@import './sizeConstants.css';

#search-suggestions{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.result-container{
    position: relative;
    padding: .5em;
    background-color: var(--light-grey-blue);
    margin: .5em;
    border-radius: 3px;
    text-align: center;
    &:hover{
        cursor:pointer;
        box-shadow: 0 0 3pt 5pt var(--secondary);
    }
    @media (--small-viewport) {
        max-height: 80vh;
    }
    @media (--medium-viewport) {
        max-height: 80vh;
        max-width: 200px;
    }
    @media (--large-viewport) {
        width: 220px;
    }
    @media (--xlarge-viewport){
        width: 240px;
    }
}
.title-container{
    height: 100%;
    width: 100%;
}
.poster{
    @media (--small-viewport) {
        max-width: 90%; 
    }
    @media (--medium-viewport) {
        max-width: 90%;
        max-height: 80%;
    }
    @media (--large-viewport) {
        max-width: 200px;
        max-height: 295px;
    }
    @media (--xlarge-viewport){
        max-width: 220px;
        max-height: 315px;
    }
}
.no-poster{
    @media (--large-viewport) {
        width: 200px;
    }
    @media (--xlarge-viewport){
        width:220px;
    }
    background-color: white;
    text-align: center; 
    min-height: 285px;
    min-width: 200px;
    margin: 0 auto;
}