:root{
    @custom-media --small-viewport (max-width: 320px);
    @custom-media --medium-viewport (min-width: 321px) and (max-width: 639px);
    @custom-media --large-viewport (min-width: 640px) and (max-width: 1023px);
    @custom-media --xlarge-viewport (min-width: 1024px);
}